[Unit]
Description=Mode Control Entity (MCE)
Requires=dsme.service
Requires=dbus.service
After=dsme.service

[Service]
Type=notify
ExecStart=/usr/sbin/mce --systemd
Restart=always

[Install]
WantedBy=multi-user.target
